global
    ssl-default-bind-ciphers TLS13-AES-256-GCM-SHA384:TLS13-AES-128-GCM-SHA256:TLS13-CHACHA20-POLY1305-SHA256:EECDH+AESGCM:EECDH+CHACHA20
    ssl-default-bind-options no-tls-tickets force-tlsv13

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    

frontend https_front
    bind *:443 ssl crt /etc/haproxy/ssl/strengthgadget.pem crt /etc/haproxy/ssl/soulshare.pem
    mode http
    option forwardfor
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    use_backend soulshare if { hdr(host) -i api.soulshare.com }
    use_backend strengthgadget if { hdr(host) -i strengthgadget.com }


backend soulshare
    mode http
    option httpchk GET /health
    server soulshare 10.0.0.17:443 check
    server maint 127.0.0.1:8000 check backup

backend strengthgadget
    mode http
    option httpchk GET /health
    server strengthgadget 127.0.0.1:8080 check
    server maint 127.0.0.1:8000 check backup

