defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend tcp-in
    bind *:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }

    acl soulshare_acl req.ssl_sni -i soulshare.com
    acl strengthgadget_acl req.ssl_sni -i strengthgadget.com

    use_backend soulshare if soulshare_acl
    use_backend strengthgadget if strengthgadget_acl


backend soulshare
    mode tcp
    server soulshare 10.0.0.17:443
    server maint 127.0.0.1:8000 check backup

backend strengthgadget
    mode tcp
    server strengthgadget 127.0.0.1:8080
    server maint 127.0.0.1:8000 check backup

